body {
	font-family: Helvetica, Arial;
	text-align: center;
	font-weight: bold;
}

td {
	border: 1px solid red;
	text-align: center;
	font-weight: bold;
	background-color: purple;
	font-size: 60px; 
}

table {
	margin: auto;
	cursor: default;
  	background-color: white;
  	height: 384px;
  	width: 396px;
  	border: 1px solid red;
}


